/* About */

.about__photo {  
  width: 400px;       
}

.about__text {
  margin-top: 80px;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 28px;
  opacity: 0.7;
  color: #000;
}

.about-text__title {
  font-size: 18px;
  margin-bottom: 40px;
}

.about-text__descrption {
  margin-bottom: 30px;
}

/* .About */