/* Header */

.header {
    min-width: 100%;
    min-height: 800px;
    background-color: black;
    background: 
        linear-gradient(
            60deg, 
            rgba(255, 43, 74, 0.5) 0%,
            rgba(17, 57, 109, 0.5) 20%, 
            rgba(53, 139, 196, 0.5) 80%, 
            rgba(163, 38, 57, 0.5) 100%
            ),
        url('./img/header-bg.jpg') no-repeat;
    background-size: cover;
    padding-top: 70px;
}

.header__nav {
    text-align: right;
}

.header__text {
    margin-top: 230px;
    text-align: center;
}

.header__text .header__title {
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    padding: 10px 0;
}

.header__title_no_latter_spacing {
    letter-spacing: normal;
}

.header__descr {
    display: block;
    opacity: 0.7;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

/* .Header */