/* Services */

.services__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.services__item {
  height: 272px;
  width: 272px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 5px;
}

.services-item__img {
  margin-top: 88px;
  margin-bottom: 25px;
}

.services-item--cyan {
  background-color: #10c6fc;
}

.services-item--purple {
  background-color: #835aeb;
}

.services-item--blue {
  background-color: #002453;
}

.services-item--red {
  background-color: #ff2b4a;
}

/* .Services */