/* Works */
.works__title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000;
  margin-top: 120px;
}

.works__subtitle {
  font-size: 16px;
  text-align: center;
  opacity: 0.7;
  letter-spacing: 0.16px;
  color: #000;
  margin-bottom: 40px;
}

.works__items {
  
}

.works__item {
  width: 282px;
  height: 268px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  overflow: hidden;
  
}

.works__item:last-child {
  margin-right: 0;
}

.works__item--twin {
  width: 575px;
}

.works__img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}


/* .Works */