/* Works */

.works__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.works__img {
  width: 272px;
  height: 272px;
  margin: 5px;
}

.works__img--wide {
   width: 555px;
}

/* .Works */